In [ ]:
#Best Practices
#Preprocessing and Cleaning
#Train Test Split
#BOW,TFIDF,Word2vec
#Train ML Agorithm

In [55]:
import os
print(os.getcwd())

c:\Users\Anya Anu\Desktop\Krish\python_basis_.ipynb\51)NLP

In [56]:
#Load Dataset
import pandas as pd

df= pd.read_csv('all_kindle_review .csv', encoding='latin-1')

df.tail()

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
11995,11995,2183,B001DUGORO,"[0, 0]",4,Valentine cupid is a vampire- Jena and Ian ano...,"02 28, 2014",A1OKS5Q1HD8WQC,lisa jon jung,jena,1393545600
11996,11996,6272,B002JCSFSQ,"[2, 2]",5,I have read all seven books in this series. Ap...,"05 16, 2011",AQRSPXLNEQAMA,TerryLP,Peacekeepers Series,1305504000
11997,11997,12483,B0035N1V7K,"[0, 1]",3,This book really just wasn't my cuppa. The si...,"07 26, 2013",A2T5QLT5VXOJAK,hwilson,a little creepy,1374796800
11998,11998,3640,B001W1XT40,"[1, 2]",1,"tried to use it to charge my kindle, it didn't...","09 17, 2013",A28MHD2DDY6DXB,"Allison A. Slater ""Gryphon50""",didn't work,1379376000
11999,11999,11398,B003370JUS,"[5, 6]",3,Taking Instruction is a look into the often hi...,"07 5, 2012",A3JUXLB4K9ZXCC,Dafna Yee,"If you like BDSM with a touch of romance, this...",1341446400

In [58]:
df=df[['reviewText','rating']]
df.head()

                                          reviewText  rating
0  Jace Rankin may be short, but he's nothing to ...       3
1  Great short read.  I didn't want to put it dow...       5
2  I'll start by saying this is the first of four...       3
3  Aggie is Angela Lansbury who carries pocketboo...       3
4  I did not expect this type of book to be in li...       4

In [59]:
df.shape

(12000, 2)

In [60]:
#Missing values
df.isnull().sum()

reviewText    0
rating        0
dtype: int64

In [61]:
df['rating'].unique()

array([3, 5, 4, 2, 1], dtype=int64)

In [62]:
df['rating'].value_counts()

rating
5    3000
4    3000
3    2000
2    2000
1    2000
Name: count, dtype: int64

In [63]:
##Preprocessing and Cleaning
##positive review =1 neg-review =0
df['rating']=df['rating'].apply(lambda x:0 if x<3 else 1)

In [64]:
df.head()

                                          reviewText  rating
0  Jace Rankin may be short, but he's nothing to ...       1
1  Great short read.  I didn't want to put it dow...       1
2  I'll start by saying this is the first of four...       1
3  Aggie is Angela Lansbury who carries pocketboo...       1
4  I did not expect this type of book to be in li...       1

In [65]:
df['rating'].unique()

array([1, 0], dtype=int64)

In [66]:
##1.Lower all the cases
df['reviewText']=df['reviewText'].str.lower()

In [67]:
df['reviewText']

0        jace rankin may be short, but he's nothing to ...
1        great short read.  i didn't want to put it dow...
2        i'll start by saying this is the first of four...
3        aggie is angela lansbury who carries pocketboo...
4        i did not expect this type of book to be in li...
                               ...
11995    valentine cupid is a vampire- jena and ian ano...
11996    i have read all seven books in this series. ap...
11997    this book really just wasn't my cuppa.  the si...
11998    tried to use it to charge my kindle, it didn't...
11999    taking instruction is a look into the often hi...
Name: reviewText, Length: 12000, dtype: object

In [68]:
df.head()

                                          reviewText  rating
0  jace rankin may be short, but he's nothing to ...       1
1  great short read.  i didn't want to put it dow...       1
2  i'll start by saying this is the first of four...       1
3  aggie is angela lansbury who carries pocketboo...       1
4  i did not expect this type of book to be in li...       1

In [33]:
pip install beautifulsoup4

Collecting beautifulsoup4
  Using cached beautifulsoup4-4.13.4-py3-none-any.whl.metadata (3.8 kB)
Collecting soupsieve>1.2 (from beautifulsoup4)
  Using cached soupsieve-2.7-py3-none-any.whl.metadata (4.6 kB)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\anya anu\venv\lib\site-packages (from beautifulsoup4) (4.14.1)
Downloading beautifulsoup4-4.13.4-py3-none-any.whl (187 kB)
Downloading soupsieve-2.7-py3-none-any.whl (36 kB)
Installing collected packages: soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.13.4 soupsieve-2.7
Note: you may need to restart the kernel to use updated packages.

In [69]:
#Removing special characters
import re
import nltk
from nltk.corpus import stopwords
from bs4 import BeautifulSoup
df['reviewText'] = df['reviewText'].apply(lambda x: re.sub(r'[^a-zA-Z0-9\s]', ' ', x)
)

##Remove stopwaords
df['reviewText']=df['reviewText'].apply(lambda x: ' '.join([word for word in x.split() if word not in stopwords.words('english')]))
##Remove url
df['reviewText']=df['reviewText'].apply(lambda x: re.sub(r'(http|https|ftp|ssh)://([\w_-]+(?:(?:\.[\w_-]+)+))([\w.,@?^=%&:/~+#-]*[\w@?^=%&/~+#-])?', '',str(x)))
##Remove html tags
df['reviewText']=df['reviewText'].apply(lambda x: BeautifulSoup(x, "html.parser").get_text())   
##Remove any additional spaces
df['reviewText']=df['reviewText'].apply(lambda x: " ".join(x.split()))

In [70]:
df.head()

                                          reviewText  rating
0  jace rankin may short nothing mess man hauled ...       1
1  great short read want put read one sitting sex...       1
2  start saying first four books expecting 34 con...       1
3  aggie angela lansbury carries pocketbooks inst...       1
4  expect type book library pleased find price right       1

In [71]:
from nltk.stem import WordNetLemmatizer

In [72]:
lemmatizer=WordNetLemmatizer()
def lemmatize_words(text):
    return ' '.join([lemmatizer.lemmatize(word) for word in text.split()])

In [73]:
df['reviewText'] = df['reviewText'].apply(lambda x:lemmatize_words(x))  # Convert to lowercase

In [74]:
df.head()

                                          reviewText  rating
0  jace rankin may short nothing mess man hauled ...       1
1  great short read want put read one sitting sex...       1
2  start saying first four book expecting 34 conc...       1
3  aggie angela lansbury carry pocketbook instead...       1
4  expect type book library pleased find price right       1

In [75]:
##Train test split
from sklearn.model_selection import train_test_split    
X_train, X_test, y_train, y_test = train_test_split(df['reviewText'], df['rating'], test_size=0.2, random_state=42)

In [78]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
bow= CountVectorizer()
X_train_bow = bow.fit_transform(X_train).toarray()
X_test_bow = bow.transform(X_test).toarray()

In [79]:
tfidf=TfidfVectorizer()
X_train_tfidf = tfidf.fit_transform(X_train).toarray()
X_test_tfidf = tfidf.transform(X_test).toarray()

In [80]:
X_train_bow

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [81]:
from sklearn.naive_bayes import GaussianNB
gnb_bow = GaussianNB().fit(X_train_bow, y_train)
gnb_tfidf=GaussianNB().fit(X_train_tfidf, y_train)

In [82]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
y_pred_bow = gnb_bow.predict(X_test_bow)
y_pred_tfidf = gnb_tfidf.predict(X_test_tfidf)

print("Accuracy for BOW:", accuracy_score(y_test, y_pred_bow))
print("Accuracy for TF-IDF:", accuracy_score(y_test, y_pred_tfidf))

Accuracy for BOW: 0.5654166666666667
Accuracy for TF-IDF: 0.5725

In [83]:
confusion_matrix(y_test, y_pred_bow)

array([[509, 294],
       [749, 848]], dtype=int64)